.user_input_section {
    text-align: center;
}

table {
    margin: 0 auto;
}

.eventinput {
    text-align: center;
}

.bold {
	font-weight:bold;
}

.hinttext {
	font-size: 75%;
	text-align: center;
	font-style:italic;
}